/* import url for Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0px;
}

header {
    max-width: 1600px;
    margin: 0px auto;
}

/* share commone styles */
.container {
    width: 1200px;
    margin: 0px auto;
}

.button-position {
    position: relative;
}

.display-one {
    display: flex;
}

.display-two {
    display: grid;
}

/* online font Quicksand and serif */
.quicksand {
    font-family: "Quicksand", serif;
    font-weight: 700;
}

.font-color {
    color: rgb(17, 17, 17);
}

.pry-color-one {
    color: rgb(254, 163, 1);
}

.pry-color-two {
    color: rgb(1, 172, 253);
}

/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.logo-school {
    align-items: center;
    gap: 20px;
}

.logo {
    width: 45px;
    height: 45px;
}

.Contact:hover {
    transform: scale(1.4, 1.4);
    transition: transform;
    transition: .5s;
}

.school {
    font-size: 2rem;
    text-align: left;
}

/* anchor related styles */
.nav-anchor {
    gap: 30px;
}

.anchor {
    text-decoration: none;
}

.home {
    font-size: 1.3rem;
    font-weight: 700;
}

.About {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(1, 172, 253);
}

.Facilities {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(5, 212, 223);
}

.Admission {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(93, 88, 239);
}

/* button related styles */
.Contact {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 8px 25px;
    border: 0px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);

}

/* menu-bar */
/* <i class="fa-solid fa-bars"></i> */
.menu-bar {
    display: none;
}

/* Empowering
students from small age towards vision */
.Empowering {

    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    padding: 5px;

}

.Empowering-student {
    margin-top: 120px;
}

.Empowering-title {
    font-size: 3.5rem;
    width: 70%;
    margin-bottom: 0px;
}

.Empowering-description {
    font-size: 1.3rem;
    font-weight: 400;
    width: 85%;
}

.Enroll {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background: rgb(17, 17, 17);
    border-radius: 8px;
    padding: 5px 15px;
}

.Enroll:hover {
    transform: scale(1.4, 1.4);
    transition: transform;
    transition: .5s;
}

.hero-kids {
    width: 370px;
    height: auto;
}

/* Standard Curriculum */
.frist-background-img {
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;

}

.card-header {
    font-size: 2.8rem;
    text-align: center;
    margin-top: 60px;
    padding-top: 40px;
}

.card-container {
    gap: 90px;
    justify-content: space-between;
}

.card {
    text-align: center;
    align-items: center;
    width: 280px;
    height: 400px;
    margin: 35px auto;
    padding-top: 50px;
}

.card:hover {
    transform: scale(1.1, 1.2);
    transition: transform;
    transition: .6s;
}

#card-one {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#card-two {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#card-three {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-title {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    text-align: center;
}

.card-description {
    color: rgb(128, 128, 128);
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    width: 70%;
    margin: 15px auto;
}

.card-button {
    border: 0px;
    font-size: 1rem;
    text-align: center;
}

#one {
    color: rgb(100, 200, 255);
}

#two {
    color: rgb(254, 163, 1);
}

#three {
    color: rgb(135, 0, 255);
}

.laft-right {
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin: 20px auto 30px auto;
}

/* <i class="fa-solid fa-chevron-left"></i> */
.fa-left {
    color: rgb(255, 255, 255);
    border: 0px;
    font-size: 35px;
    width: 62px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
}

.fa-left:hover {
    transform: scale(1.2, 1.2);
    transition: transform;
    transition: .6s;
    background-color: rgb(1, 172, 253);
}

/* <i class="fa-solid fa-chevron-right"></i> */
.fa-right {
    color: rgb(255, 255, 255);
    border: 0px;
    font-size: 35px;
    width: 62px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
}

.fa-right:hover {
    transform: scale(1.2, 1.2);
    transition: transform;
    transition: .6s;
    background-color: rgb(1, 172, 253);
}

/* Our Stories is 2nd section related styles */
.background-img-and-color {
    background: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    background-repeat: no-repeat;
    height: 900px;
}

.Stories {
    color: rgb(0, 0, 0);
    font-size: 2.7rem;
    text-align: center;
    padding-top: 40px;
}

/* A fun toddler coloring training on classroom */

.section-two-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.fun-toddler-container {
    padding: 8px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

#story-1-img {
    border-radius: 16px 16px 0px 0px;
}

.fun-toddler-title {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-align: left;
    width: 78%;
}

.fun-toddler-description {
    color: rgb(102, 102, 102);
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    width: 78%;
}

.fun-toddler-button {
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 500;
    border: 0px;
    padding: 15px;
    border-radius: 47px;
    background: rgb(60, 216, 232);
    position: absolute;
    margin-top: 55%;
    margin-left: 8%;
}

.story-button-color-one {
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 500;
    border: 0px;
    padding: 10px;
    border-radius: 47px;
    background: rgb(93, 88, 240);
    position: absolute;
    margin-top: -105px;
    margin-left: 20px;
}

.story-button {
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 500;
    border: 0px;
    padding: 10px;
    border-radius: 47px;
    background: rgb(149, 178, 38);
    position: absolute;
    margin-top: -105px;
    margin-left: 20px;
}

/* Find out if a school fits the family’s needs ,
Summer math & literacy centres for kids 
Classroom management techniques for new tutors 
Conversation rhymes improve kids listening related styles*/
.story-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 8px;
    gap: 15px;
}

.all-story-block {
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-title {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    text-align: left;
}

.story-img img {
    width: 100%;
}

.story-images {
    border-radius: 16px 16px 0px 0px;
}

#all-story-one {
    display: none;
}

#all-story-two {
    display: none;
}

.View {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
}

.View-all:hover {
    transform: scale(1.4, 1.4);
    transition: transform;
    transition: .5s;
}

.View-all {
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    font-size: 1.1rem;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    justify-content: center;
    text-align: center;
}
/* marquee */
.marquee-container{
    margin:  60px 0px 20px 0px ;
}
.marquee{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    padding: 10px;
    background-color:rgb(1, 172, 253) ;
    justify-content: center;
    align-items: center;
    height: 50%;
}
/* footer-secttion */
.footer-secttion {
    background: rgb(1, 172, 253);
    margin: 50px auto;
    height: 500px;
}

.footer-container {
    justify-content: space-between;
    gap: 80px;
    padding-top: 80px;
}

.frist-container,
.secund-container,
.three-container {
    align-items: center;
    border: 0px solid;
    width: 40%;
    padding: 10px;
}

.Kids-Education {
    gap: 10px;
    align-items: center;
    width: 230px;
}

.kids-img {
    width: 80px;
    height: 70px;
    margin-top: -12px;

}

.kids {
    font-size: 2rem;
    width: 200px;
    color: rgb(255, 255, 255);
}

.Our-vision {
    color: rgb(255, 255, 255);
    font-family:"Quicksand";
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0px;
    text-align: left;
    width: 98%;
}

.School-Touch {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: left;
}

.School-Touch-anchor {
    display: block;
}

.School-anchor {
    color: rgb(255, 255, 255);
    font: size 1.2em;
    text-decoration: none;
}

.footer-logo {
    gap: 20px;
}

/* @media screen and (max-width:960px) {} */
@media screen and (max-width:360px) {
    .container {
        max-width: 360px;
        margin: 0px auto;
        width: 100%;
    }

    .navbar {
        align-items: center;
        border-bottom: 2px solid rgb(254, 163, 1);
        padding: 0px 10px 0px 8px;
    }

    .school,
    .nav-anchor,
    .Contact,
    .laft-right,
    .fun-toddler-container {
        display: none;
    }

    .logo {

        align-items: center;

    }

    .menu-bar {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    .Empowering {
        flex-direction: column-reverse;
    }

    .Empowering-students {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-kids {
        width: 300px;
        margin: -18px auto;
    }

    .Empowering-title {
        font-size: 2rem;
        text-align: center;
        width: 94%;
        margin: 20px auto;
    }

    .Empowering-description {
        font-size: 1rem;
        text-align: center;
        width: 98%;
        margin: 15px auto;
    }

    .frist-background-img {
        background-image: none;
        height: auto;
    }

    .card-header {
        font-size: 1.8rem;
        margin: 0px auto;
    }

    .card-container {
        flex-direction: column;
    }

    #card-two {
        margin-top: -70px;
    }

    #card-three {
        margin-top: -70px;
    }

    .background-img-and-color {
        background: none;
    }

    .story-container {
        grid-template-columns: repeat(2, 165px);
        gap: 10px;
    }
    .story-title {
        font-size: .95rem;

    }
    .story-button-color-one {
        font-size: .60rem;
        margin-top: -110px;
        margin-left: 10px;
    }
    .story-button {
        font-size: .60rem;
        top: 80px;
        margin-top: 0px;
        margin-left: 10px;
    }
    
    .View {
        margin-top: 60px;
    }

    #all-story-one {
        display: block;
    }

    #all-story-two {
        display: block;
    }
    .marquee-container{
        /* overflow: hidden; */
        overflow-x: hidden;
    }
    .marquee{
        font-size: 1rem;
        padding: 5px;
        
    }

    .footer-secttion {
        background: rgb(1, 172, 253);
        margin: 60px auto;
        height: 850px;
    }

    .footer-container {
        flex-direction: column;
    }

    .frist-container,
    .secund-container,
    .three-container {
        width: 90%;
        margin: -30px auto;
    }
}