/* import url for Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0px;
}

header {
    max-width: 1600px;
    margin: 0px auto;
}

/* share commone styles */
.container {
    width: 1200px;
    margin: 0px auto;
}

.display-one {
    display: flex;
}

.display-two {
    display: grid;
}

/* online font Quicksand and serif */
.quicksand {
    font-family: "Quicksand", serif;
    font-weight: 700;
}

.font-color {
    color: rgb(17, 17, 17);
}

.pry-color-one {
    color: rgb(254, 163, 1);
}

.pry-color-two {
    color: rgb(1, 172, 253);
}

/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.logo-school {
    align-items: center;
    gap: 20px;
}

.logo {
    width: 45px;
    height: 45px;
}

.school {
    font-size: 2rem;
    text-align: left;
}

/* anchor related styles */
.nav-anchor {
    gap: 30px;
}

.anchor {
    text-decoration: none;
}

.home {
    font-size: 1.3rem;
    font-weight: 700;
}

.About {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(1, 172, 253);
}

.Facilities {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(5, 212, 223);
}

.Admission {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(93, 88, 239);
}

/* button related styles */
.Contact {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 8px 25px;
    border: 0px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);

}

/* menu-bar */
/* <i class="fa-solid fa-bars"></i> */
.menu-bar {
    display: none;
}

/* Empowering
students from small age towards vision */
.Empowering {

    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    padding: 5px;

}

.Empowering-student {
    margin-top: 120px;
}

.Empowering-title {
    font-size: 3.5rem;
    width: 70%;
    margin-bottom: 0px;
}

.Empowering-description {
    font-size: 1.3rem;
    font-weight: 400;
    width: 85%;
}

.Enroll {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background: rgb(17, 17, 17);
    border-radius: 8px;
    padding: 5px 15px;
}

.hero-kids {
    width: 370px;
    height: auto;
}

/* Standard Curriculum */

.card-header {
    font-size: 2.8rem;
    text-align: center;
    margin-top: 100px;
}

.card-container {
    gap: 90px;
    justify-content: space-between;
}

.card {
    text-align: center;
    align-items: center;
    width: 280px;
    height: 400px;
    margin: 35px auto;
    padding-top: 50px;
}

#card-one {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#card-two {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#card-three {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-title {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    text-align: center;
}

.card-description {
    color: rgb(128, 128, 128);
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    width: 70%;
    margin: 15px auto;
}

.card-button {
    border: 0px;
    font-size: 1rem;
    text-align: center;
}

#one {
    color: rgb(100, 200, 255);
}

#two {
    color: rgb(254, 163, 1);
}

#three {
    color: rgb(135, 0, 255);
}

.laft-right {
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin: 20px auto 30px auto;
}

/* <i class="fa-solid fa-chevron-left"></i> */
.fa-left {
    color: rgb(255, 255, 255);
    border: 0px;
    font-size: 35px;
    width: 62px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
}

/* <i class="fa-solid fa-chevron-right"></i> */
.fa-right {
    color: rgb(255, 255, 255);
    border: 0px;
    font-size: 35px;
    width: 62px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
}


/* @media screen and (max-width:960px) {} */
@media screen and (max-width:360px) {
    .container {
        width: 360px;
        margin: 0px auto;
    }

    .navbar {
        align-items: center;
        border-bottom: 2px solid rgb(254, 163, 1);
        padding: 0px 12px 0px 8px;

    }

    .school,
    .nav-anchor,
    .Contact {
        display: none;
    }

    .logo {

        align-items: center;

    }

    .menu-bar {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    .Empowering {
        flex-direction: column-reverse;
    }

    .Empowering-students {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-kids {
        width: 300px;
        margin: -18px auto;
    }

    .Empowering-title {
        font-size: 2rem;
        text-align: center;
        width: 92%;
        margin: 20px auto;
    }

    .Empowering-description {
        font-size: 1rem;
        text-align: center;
        width: 100%;
        margin: 15px auto;
    }

}